*{
  padding: 0;
  margin: 0;
}
body{
  background-color: #fff;
  font-family: sans-serif;
}

.subtemas{
  cursor: pointer;
  text-decoration: none;
}
.subtemas:hover{
  color: darkturquoise;
  text-decoration: none;
}
.regresar{
  font-size: 2em;
  text-align: center;
}
.titulo{
  text-align: center;
}
.perfil{
  font-size: 2em;
  color: darkturquoise;
}
.reglamento{
  padding: 2% 5% 0 5%;
}
li{
  font-size: 2em;
  padding-top: 3%;
  line-height: 1;
}
.sub2{
  color: darkturquoise;
}
.cyan{
  color: darkturquoise; 
}
.pink{
  color: rgb(255,64,129);
}
.parrafo{
  font-size: 2em;
  line-height: 1;
}
#imgalineada{
  text-align: center;
}
td{
  border: 1px solid red;
  width: 500px;
}
#alineacion{
text-align: justify;
}
#centrarimg{
  margin-right: auto;
  margin-left: auto;
  display: block;
}
#link1:link, #link2:link, #link3:link, #link4:link{
  color: blue;
} 
#link1:visited, #link2:visited, #link3:visited, #link4:visited{
  color: orange; 
} 
#link1:hover, #link2:hover, #link3:hover, #link4:hover{
  color: green;
}
#link1:active, #link2:active, #link3:active, #link4:active{
  color: pink;
}

div.boton1{
  width: 100px;
  height: 40px;
  background-color: green;
  text-align: center;
  border-radius: 10px;
  padding-top: 2%;
}
div.boton1 a{
  font-size: 2em;
  color: white;
  text-decoration: none;
}
div.boton1:hover{
  background-color: purple;
}
div.boton1 a:hover{
  color: pink;
}


ul#menus1 li{
  display: inline;
  padding: 2%;
}

ul#menus1 li a{
  color: green;
}

ul#menus1 li a.menu1:hover{
  color: pink;
}

ul#menus2 li{
  display: block;
}
ul#menus2 li a{
  text-decoration: none;
  padding: 2% 5% 1% 10%;
}
ul#menus2 li a:hover{
  background-color: blue;
}
ul#menus2 li a.menu1:hover{
  color: orange;
}
